<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="js/app.js"></script>
</head>
<body>
    <div id="app">
        <p v-text="message"></p>
        <div v-html="htmlCard"></div>
        <img width="300" v-bind:src="portada" v-bind:alt="descripcion">
        <button @click="lanzarAlerta">Directiva ON</button>
        <br>
        <input type="text" v-model="bidireccional">
        <p v-text="bidireccional"></p>
        <br>
        <br>
        <input v-model="searchText">
         <input
           v-bind:value="searchText"
           v-on:input="searchText = $event.target.value"
         >
    </div>
</body>
</html>